.cleaning-container {
    display: flex;
    flex-direction: column;
    /* position: static; */
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
  }
  
  .cleaning-left {
    width: 40%;
    margin-left: 50px;

  }
  
  .cleaning-left h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .rating {
    font-size: 16px;
    color: #ff9800;
    margin-bottom: 15px;
  }
  
  .service-selection {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
  }
  
  .service-selection p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .service-options {
    display: flex;
    gap: 15px;
  }
  
  .service-item {
    text-align: center;
    
  }
  
  .service-item img {
    width: 20px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  
  /* Right Section - Image Slider */
  .cleaning-right {
    width: 55%;
  }
  
  .slider {
    display: flex;
    align-items:flex-end;
    /* background: #e3f4ff; */
    border-radius: 10px;
    padding: 10px;
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .slide {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .slide-text {
    font-size: 24px;
    font-weight: bold;
    width: 50%;
  }
  
  .slide img {
    width: 650px;
    height: auto;
    border-radius: 8px;
  }
  .firstPart{
    width: 100%;
    display: flex;
    gap: 50px;
  }