* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding: 20px;
    /* gap: 20px; */
    margin-top: 10px;
    margin-bottom: 100px;
  }
  
  /* Sidebar */
  .sidebar {
    width: 65%;
    display: flex;
    flex-direction: column;
    /* margin-left: 600px; */
    margin-bottom: 500px;
  }
  
  .ratings {
    font-size: 14px;
    color: #666;
    margin: 5px 0 15px;
  }
  
  .services {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
  }
  
  .service-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .service-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
  }
  
  .service-card img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  
  /* Main Content */
  .main-content {
    width: 70%;
    /* margin-left: 500px; */
    /* margin-top: 500px; */
    /* margin-bottom: 500px; */
  }
  
  .scroll-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  /* .scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
   */
  .massage-card {
    /* flex: 0 0 auto; */
    width: 500px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
  }
  
  .massage-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .massage-info {
    margin-top: 10px;
  }
  
  .massage-info .tag {
    background: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
  }
  
  .ratings {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  .price {
    font-weight: bold;
  }
  
  .add-btn {
    display: flex;
    background: #6a0dad;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;
    /* text-align: right; */
    margin-top: 10px;
  }
  
  /* Right Sidebar */
  .cart-sections{
    width: 25%;
    display:flex;
    height:fit-content;
    flex-direction:column;
    margin-top: 100px;
    position: sticky;
    gap: 20px;
    padding-bottom: 10px;
    background-color: white;
    background: none;
  }
  
  .cart-box, .offers, .uc-promise {
    /* background: #f8f8f8; */
    padding: 25px;
    gap: 20px;
    border: 1px solid #b6efc9;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .uc-promise ul {
    list-style: none;
    padding-left: 0;
  }
  
  .uc-promise li {
    margin-bottom: 5px;
  }
  