.AboutSection{
    width: 100%;
    height: 500px;
    background-color: #cfcece;
    /* margin-top: -350px; */
    margin-top: 150px;
}
.About{
    width: 100%;
    display: flex;
    gap: 250px;
    margin-left: 50px;

}
.copyRights{
    margin-top: -200px;
    /* transform: scaleX(30px); */
}
.socialImages{
    display: flex;
    width: 40%;
    height: 15%;
}
.Twitter{
    width:70px;
    height: 70px;
    margin-top: 7px;
}