.sendImg{
    width: 40%;
    /* margin: 30px 0px 50px 100px; */
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 12px;
    box-shadow: inset;
    background-color: red;
}
.titleImg{
    margin-top:30px;
}
.inputPicture{
    /* margin-top: 50px; */
    margin-left: 105px;
}